<h2>Créditos</h2>

<button (click)="createCredit()">
    Crear Crédito
</button>

<div>
    <label>Identificador</label>|&nbsp;
    <label>Nombres</label>|&nbsp;
    <label>Valor</label>|&nbsp;
    <label>Opciones</label>
</div>

<div *ngFor="let credit of credits">
  <div>
      <label>{{credit.id}}</label>|&nbsp;
      <label>{{credit.customerName}}</label>|&nbsp;
      <label>{{ transformAmount( credit.amount ) }}</label>|&nbsp;
      <a [routerLink]="['/edit', credit.id]">
        <label>Editar</label>
      </a>
  </div>
</div>

