<h2>Editar crédito de libre inversión</h2>

<app-credit-base [credit]="credit" [EditMode]="true" #creditBase ></app-credit-base>

<button (click)="save()">
    Guardar
</button>

<button (click)="cancel()">
    Cancel
</button>
