<div>
    <form [formGroup]="creditForm" >
    <label>Nombre del tomador:</label><input type="text" formControlName="customerName" ><br>
    <label>Monto:</label><input type="text" CurrencyInput [(OriginalAmount)]="originalAmount" formControlName="amount" (focusout)="onChange()"><br>
    <label>Plazo (meses):</label><input type="text" OnlyNumber formControlName="term" (focusout)="onChange()" ><br>
    <label>Interés (efectivo anual):</label>    
    <select formControlName="interestPercent" (change)="onChange()" >
        <option *ngFor="let interest of interests" [value]="interest.id">
            {{interest.text}}
        </option>
    </select>      
    <br>
    <label>Cuota mensual:</label><label>{{ transformAmount( monthQuota ) }}</label>
    </form>
</div>
