<h2>Creación de crédito de libre inversión</h2>

<app-credit-base [EditMode]="false" #creditBase ></app-credit-base>

<button (click)="create()">
    Crear
</button>

<button (click)="cancel()">
    Cancel
</button>